body{
    background-color: white;
    margin: 0px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

    
h1{
margin-top: 0px;
font-size: 80px;
color: #DCD7C9;
animation: anima 1s;
}

hr{
    border: dotted 6px #DCD7C9;
    border-bottom: none;
    width: 4%;
    border-width: thick;
    margin: 100px auto;
    
}
p{
    margin-bottom: 0;
}


.top-container{
    background-color:#2C3639;
    position: relative;
    padding-top: 100px;
   
}
.bottom-container{
    color: #395B64;
background-color: #A27B5C;
}
.intro2{
    color: #DCD7C9;
    font-weight: normal;
    animation: anima 1s;
}

.bottom-cloud{
    position: absolute;
    left:400px
}
.top-cloud{
    position: absolute;
    left:1000px
}
.skill-row{
    width: 50%;
    margin:0 auto 0 auto;
    padding: 10px;
    padding-bottom: 120px;
    text-align: left;
}
.skill-row2{
    width: 50%;
    margin:0 auto 0 auto;
    padding: 10px;
    padding-bottom: 10px;
    text-align: right;
}
.compimg{
    width:25%;
    border-radius: 100%;
    height: 25%;
    float:left;
    margin-right: 30px;
    position: relative;
    bottom: 40px;
}
svg{
    width:90%;
    animation: anima 1s;
}
.filmimg{
    width: 20%;
    border:solid;
    border-radius: 100%;
    float:right;
    border-spacing:100px;
    padding: 10px;
    position: relative;
    bottom: 20px;
    margin-left: 30px;
}
.contact-me{
    margin: 10px auto 2px;

}
.spacer{
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer{
    background-image: url('/vectr/WAV1.svg');
}
.footer-link{
    color: #DCD7C9;
    size: 100px;
}
.btn{
    margin-bottom: 10%;
    color: #000;
    position: relative;
    top:10px;
}
.btn{
    top: 20px;
    text-decoration: none;
    transition: 1s;
}
.btn:hover{
color: #A27B5C;
font-size: large;
transition: 1s;
}
ion-icon{
    size: 100px;
}
@keyframes anima {
    from    {
       
        transform: translateY(14px);

    }
    to{
        
    }
    
}